.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data {
    border: 1px solid gray;
    padding: 25px;
}

.totals {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.total div p {
    margin: 0px;
}

table {
    border-collapse: collapse;
}

.first-header {
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
}

th {
    background: linear-gradient(180deg, rgba(254,254,254,1) 0%, rgba(229,229,229,1) 100%);
    border: 1px solid #cdcdcd;
}

tr {
    height: 2em;
    border-bottom: 1px solid #e1e1e1;
}